<?xml version="1.0" encoding="gb2312"?>
<Config>
	<Data_Info>
		<File Path="C:\data" />
		<File Path="C:\data" />
		<File Path="C:\data" />
		<File Path="C:\data" />
	</Data_Info>
	<Word_Info>
		<File Path="C:\word" />
		<File Path="C:\word" />
		<File Path="C:\word" />
		<File Path="C:\word" />
		<File Path="C:\word" />
		<File Path="C:\word" />
		<File Path="C:\word" />
		<File Path="C:\word" />
	</Word_Info>
</Config>
