<?xml version="1.0" encoding="gb2312"?>
<Config>
  <Data_Info>
	  <File Name="Data.xml" Path="your path here" />
      <File Name="EmployeeInfo.xml" Path="your path here" />
      <File Name="InstrumentInfo.xml" Path="your path here" />
      <File Name="LocationInfo.xml" Path="your path here" />
	  <File Name="TestItemInfo.xml" Path="your path here" />
	  <File Name="UncertaintyInfo.xml" Path="your path here" />
  </Data_Info>
  <Word_Info>
      <File Path="your path here" />
	  <File Path="your path here" />
	  <File Path="your path here" />
	  <File Path="your path here" />
	  <File Path="your path here" />
	  <File Path="your path here" />
	  <File Path="your path here" />
  </Word_Info>
</Config>
